<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FileStoragePath" value=".\Storage\"/>
    </appSettings>
    <connectionStrings>
        <add name="FineFormaDb" connectionString="Server=127.0.0.1;Port=5432;Database=FineForma;User Id=postgres;Password=qwertzkawodeda;"/>
        <add name="FineFormaDbYandex" connectionString="Host=rc1b-htxeqxal9e35n30d.mdb.yandexcloud.net;Port=6432;Database=fine-forma;Username=kawodeda;Password=(CQrsF#9;"/>
    </connectionStrings>
</configuration>