<div class="main-container">
    <h1>Fine Forma</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" maxlength="100" formControlName="username" required>
            <mat-error *ngIf="usernameControl.hasError('required')">
                Username is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" maxlength="100" formControlName="password" required>
            <mat-error *ngIf="passwordControl.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
        <button mat-button color="primary" class="form-button" type="submit" [disabled]="!loginForm.valid">Log In</button>
        <button mat-button class="form-button" type="button" (click)="navigateBack()">Back</button>
        <mat-error>{{statusMessage}}</mat-error>
    </form>
</div>