<mat-toolbar>
    <div style="display: flex; align-items: center; margin: 5px 0;">
        <button mat-icon-button [matMenuTriggerFor]="addItemMenu" matTooltip="Add shape">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #addItemMenu>
            <button mat-menu-item (click)="onInsertRectangleClick()">
                <mat-icon>square</mat-icon>
                Rectangle
            </button>
            <button mat-menu-item (click)="onInsertCircleClick()">
                <mat-icon>circle</mat-icon>
                Circle
            </button>
            <button mat-menu-item (click)="onInsertLineClick()">
                <mat-icon>linear_scale</mat-icon>
                Line
            </button>
        </mat-menu>
        <button mat-icon-button color="primary" matTooltip="Draw shape" (click)="startShapeDrawing()" [disabled]="isDrawing">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Insert image" (click)="imageUpload.click()" [disabled]="!canInsertImage">
            <mat-icon>photo</mat-icon>
        </button>
        <input #imageUpload type="file" (change)="fileSelected($event)" style="display: none;">
        <button mat-icon-button color="warn" matTooltip="Remove element" (click)="onDeleteClick()" [disabled]="!canDelete">
            <mat-icon>delete</mat-icon>
        </button>
        <div *ngIf="hasFillColor" style="margin-right: 10px; display: flex; align-items: center;">
            <mat-divider [vertical]="true" style="height: 1.75em; width: 0;"></mat-divider>
            <span class="angle-output-font" style="margin: 0 10px;">Fill color</span>
            <ff-color-picker [color]="fillColor" (colorChange)="onFillColorChanged($event)" matTooltip="Pick fill color">
            </ff-color-picker>
        </div>
        <div *ngIf="hasBorder" style="margin-right: 5px; display: flex; align-items: center;">
            <mat-divider [vertical]="true" style="height: 1.75em; width: 0;"></mat-divider>
            <span class="angle-output-font" style="margin: 0 10px;">Border color</span>
            <ff-color-picker [color]="borderColor" (colorChange)="onBorderColorChanged($event)" matTooltip="Pick border color">
            </ff-color-picker>
            <mat-divider [vertical]="true" style="height: 1.75em; width: 0; margin-left: 10px;"></mat-divider>
            <span class="angle-output-font" style="margin: 0 10px;">Border width</span>
            <mat-slider min="0" max="10" discrete matTooltip="Select border width">
                <input matSliderThumb [value]="borderWidth" (valueChange)="onBorderWidthChanged($event)">
            </mat-slider>
            <mat-divider [vertical]="true" style="height: 1.75em; width: 0; margin-left: 10px;"></mat-divider>
            <span class="angle-output-font" style="margin-left: 10px; margin-right: 5px;">Dashes</span>
            <mat-checkbox color="primary" [checked]="hasDashes" (change)="onDashesToggleChanged()" matTooltip="Toggle border dash"></mat-checkbox>
        </div>
        <div *ngIf="showItemAngle" style="display: flex; align-items: center;">
            <mat-divider [vertical]="true" style="height: 1.75em; width: 0;"></mat-divider>
            <span class="angle-output angle-output-font">Angle: </span>
            <span class="angle-output-font">{{itemAngle | number:'1.0-0'}}&deg;</span>
            <button mat-button matTooltip="Reset element's rotation" (click)="onResetAngleClick()" [disabled]="!canResetAngle" style="margin-left: 5px;">Reset</button>
        </div>
    </div>
    <ff-editor-zoom-bar [viewerWidth]="viewerWidth" [viewerHeight]="viewerHeight"></ff-editor-zoom-bar>
</mat-toolbar>