canvas {
    background-color:black; 
    margin: 0; 
    position: absolute; 
    width: -moz-available; 
    width: -webkit-fill-available; 
    height: -moz-available;
    height: -webkit-fill-available;
}